/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-dark: #666666;
  --basic-light: #E1E1E1;
  --basic-extra-light: #EEEEEE;
  --basic-white: #FFFFFF;

  --basic-black-opacity: rgba(0, 0, 0, 0.4);
  --basic-white-opacity: rgba(255, 255, 255, 0.3);

  --special-dark: #444444;

  --button-basic: #FB565A;
  --button-basic-hover: #E74246;
  --button-basic-active: #D7373B;
  --button-green: #00CA74;
  --button-green-hover: #00BC6C;
  --button-green-active: #00AA62;
  --button-yellow: #EFC849;
  --button-yellow-hover: #EAB534;
  --button-yellow-active: #E5A722;
  --button-grey: #EEEEEE;
  --button-grey-hover: #DFDFDF;
  --button-grey-active: #D5D5D5;
  
  --button-shadow-opacity: rgba(0, 1, 1, 0.1);
  --button-grey-active-text: rgba(0, 0, 0, 0.3);

  --icon-basic: #A6A6A6;
  --icon-active: #231F20;
  
  
  --catalog: #4D4D4D;
  --catalog-marker: #ABABAB;

  --card-background: #F2F2F2;
  --card-border: rgba(0, 0, 0, 0.1);
  --card-shadow-opacity: rgba(0, 0, 0, 0.25);

  --pagination: #EEEEEE;
  --pagination-hover: #DFDFDF;
  --pagination-active: #D5D5D5;
  --pagination-border: #DBDBDB;

  --modal-basic: #D7DCDE;
  --modal-hover: #B4B9BB;
  --modal-focus: #000000;
  --modal-invalid: #E74246;
}


/* Global */

.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: 1240px;
  min-height: 100%;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}

h1, h2, h3, h4 , h5, h6 {
  margin: 0;
  padding: 0;
  color: var(-basic-black);
}

.page-main {
  margin: 0;
  padding: 0;
}

.main-title {
  margin: 0;
  padding: 0;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  background-color: var(--basic-extra-light);
}

a {
  font: inherit;
  text-decoration: none;
  color: var(--basic-black);
}

.button {
  display: block;
  margin: 0;
  padding: 15px 40px 15px;

  font: inherit;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--button-basic);
  border-radius: 3px;
  border: none;
  box-sizing: border-box;
}

.button:hover {
  background-color: var(--button-basic-hover);
}

.button:active {
  color: var(--basic-white-opacity);
  background-color: var(--button-basic-active);
  box-shadow: inset 0px 3px 0px var(--button-shadow-opacity);
}

.button-grey {
  display: block;
  margin: 0;
  padding: 15px 40px 15px;

  font: inherit;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--button-grey);
  border-radius: 3px;
  border: none;
  box-sizing: border-box;
}

.button-grey:hover {
  background-color: var(--button-grey-hover);
}

.button-grey:active {
  color: var(--button-grey-active-text);
  background-color: var(--button-grey-active);
  box-shadow: inset 0px 3px 0px var(--button-shadow-opacity);
}

.inline-button {
  margin: 0;
  padding: 0;
  /* padding: 5px 10px; */

  font: inherit;
  text-align: center;
  text-transform: uppercase;
  /* color: var(--basic-white); */
  /* background-color: var(--button-basic); */
  color: var(--button-basic);
  border-radius: 3px;
  border: none;
  box-sizing: border-box;
}

.inline-button:hover {
  /* background-color: var(--button-basic-hover); */
  color: var(--button-basic-hover);
}

.inline-button:active {
  /* color: var(--basic-white-opacity);
  background-color: var(--button-basic-active);
  box-shadow: inset 0px 3px 0px var(--button-shadow-opacity); */
  color: var(--button-basic-active);
}

img {
  max-width: 100%;
  height: auto;
}

/* Header */
.page-header {
  margin: 0;
  padding: 49px 0 0;
  background-color: var(--basic-extra-light);
}

/* Main navigation */

.main-navigation {
  display: grid;
  grid-template-columns: 160px 1fr auto;
  align-items: start;
  gap: 40px;

  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-navigation-logo[href]:hover {
  opacity: 0.7;
}

.main-navigation-logo[href]:active {
  opacity: 0.3;
}

.main-navigation-img {
  display: block;
}

/* Page navigation */

.page-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  margin: 0;
  margin-top: 26px;
  padding: 0;
  list-style: none;
}

.page-navigation-item {
  margin-right: 45px;
  color: var(--basic-black);
}

.page-navigation-item[href]:hover, .user-cart[href]:hover {
  color: var(--button-basic);
}

.page-navigation-item[href]:active, .user-cart[href]:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.user-cart {
  margin-top: 26px;
  justify-self: right;
  color: var(--basic-black);
}

/* Main */

.page-main {
  margin: 0;
  padding: 0;
  border: 0px;
}

.title-container {
  padding: 72px 0 108px;
  background-color: var(--basic-extra-light);
}

.main-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
}

/* Footer */

.main-footer {
  margin-top: 80px;
  padding-bottom: 68px;
  font-size: 16px;
  line-height: 18px;
}

/* Footer map */

.footer-map {
  min-height: 416px;
  margin: 0;
  margin-bottom: 68px;
  padding: 0;
  background: url(../img/map.png) no-repeat;
  background-size: cover;
}

/* Footer contacts */

.footer-contacts {
  display: flex;
  flex-direction: column;
  width: 319px;
  margin: 0;
  padding: 50px 50px 47px;
  background-color: var(--basic-white);
  box-sizing: border-box;
}

.footer-name {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.footer-address {
  margin: 0;
  margin-bottom: 23px;
  font-style: normal;
  color: var(--basic-dark);
}

.phone-number {
  margin: 0;
  padding: 0;
  color: var(--basic-dark);
  display: block;
}

.contacts-button {
  width: 219px;
  margin: 0;
  margin-top: 38px;
}

/* Footer social */

.footer-social {

  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 40px;
  margin: 0;
  margin-bottom: 68px;
  padding: 0;
}

.socials-list {
  display: flex;
  gap: 9px;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item {
  background-color: var(--basic-light);
}

.social-name {
  color: var(--basic-white);
}

/* Footer discount */

.discount-CTA {
  margin-bottom: 9px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.discount-description {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
  color: var(--special-dark);
}

/* Modal */

.modal {
  display: flex;
  flex-direction: column;
  width: 960px;
  margin: 0 auto 0;
  padding: 63px 100px 84px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 18px;
  background-color:var(--basic-white);
  box-shadow: 0px 20px 40px var(--basic-black-opacity);
}

.modal-title {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;

  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
}

.appeal-form {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  row-gap: 34px;
  margin: 0;
}

.appeal-item {
  margin: 0;
}

.appeal-item-text {
  grid-column: span 2;
}

.appeal-item label {
  display: flex;
  flex-direction: column;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.appeal-field {
  margin-top: 9px;
  padding: 16px;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--special-dark);
  border: 2px solid var(--modal-basic);
  outline: none;
}

.appeal-field::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--special-dark);
  opacity: 0.5;
}

.appeal-field:hover {
  border: 2px solid var(--modal-hover);
}

.appeal-field:focus, 
.appeal-field:active {
  border: 2px solid var(--modal-focus);
}

.appeal-field:focus::placeholder {
  opacity: 1;
}

.appeal-field:invalid {
  color: var(--modal-invalid);
  border: 2px solid var(--modal-invalid);
}

.modal-button {
  margin-top: 7px;
  width: 240px;
}

.modal-close {
  background: url(../img/modal-close.svg) no-repeat;
  opacity: 0.3;
  border: none;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

/* Index */
/* Slider */

.slider {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  background-color: var(--basic-extra-light);
}

.slider-slides {
  display: grid;
  grid-template-columns: 1160px 1160px 1160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  min-height: 431px;
  margin: 0;
  padding-top: 78px;
  padding-bottom: 80px;
  box-sizing: border-box;
}

.active-slide {
  order: -1;
}

.slide:not(.active-slide) {
  display: none;
}

.slide:first-child {
  background: url(../img/slider/smartphones.png) no-repeat;
  background-position: right 0 top 0;
}

.slide:nth-child(2) {
  background: url(../img/slider/monoblocks.png) no-repeat;
  background-position: right 0 top 0;
}

.slide:nth-child(3) {
  background: url(../img/slider/mobile-devices.png) no-repeat;
  background-position: right 0 top 0;
}

.slide-lead {
  margin: 0;
  margin-bottom: 38px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(-basic-black);
}

.slide-description {
  max-width: 416px;
  margin: 0;
}

.slider-button {
  width: 240px;
  margin-top: 25px;
}

/* Services */

.services {
  margin-top: 80px;
  margin-bottom: 80px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-type {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 347px;
}

.service-title::before {
  content: '';
  display: block;
  width: 300px;
  height: 146px;
  margin-bottom: 25px;
  background-color: var(--basic-light);
}

.service-type:first-child .service-title::before {
  background: url('../img/services/laptop.png');
}

.service-type:nth-child(2) .service-title::before{
  background: url('../img/services/smartphones.png');
}

.service-type:nth-child(3) .service-title::before{
  background: url('../img/services/presentation.png') no-repeat;
}

.service-title {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.service-description {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

/* Service buttons */

.service-button {
  width: 160px;
  margin-top: auto;
}

.service-button-green {
  background-color: var(--button-green);
}

.service-button-green:hover {
  background-color: var(--button-green-hover);
}

.service-button-green:active {
  background-color: var(--button-green-active);
}

.service-button-yellow {
  background-color: var(--button-yellow);
}

.service-button-yellow:hover {
  background-color: var(--button-yellow-hover);
}

.service-button-yellow:active {
  background-color: var(--button-yellow-active);
}

/* About */

.about {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  column-gap: 40px;
  row-gap: 40px;
  margin-top: 39px;
  margin-bottom: 73px;
}

.about-lead-paragraph {
  grid-column: 1 / -1;
  grid-row: 1/2;
  min-height: 208px;
  background: url(../img/nerds-festive.png) no-repeat;
  background-position: right 0 top 0;
  background-size: contain;
}

.about-lead {
  margin: 0;
  margin-top: 34px;
  margin-bottom: 32px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(-basic-black);
}

.about-description {
  width: 646px;
  margin: 0;
  padding: 0;
}

.about-list-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-extra-dark);
}

.about-column-left {
  grid-column: 1/4;
}

.orders-title {
  margin-bottom: 23px;
}

.orders-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.order-item {
  margin-bottom: 23px;
}

.about-column-right {
  grid-column: -3/-1;
}

.principles-title {
  margin-bottom: 31px;
}

.principle-list {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  column-gap: 20px;
  row-gap: 10px;
}

.principle-list dt {
  order: -1;
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(-basic-black);
}

.principle-list .percent {
  font-size: 26px;
  line-height: 40px;
  vertical-align: text-top;
}

.principle-list dd {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
}

/* Clients */

.clients {
  margin-top: 46px;
  margin-bottom: 44px;
}

.clients-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  row-gap: 40px;
  align-items: center;
  justify-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.client {
  opacity: 0.2; 
}

.client:hover {
  opacity: 1; 
}

.client:active {
  opacity: 0.1; 
}

/* Catalog-page */

.catalog-main-layout {
  display: grid;
  grid-template-columns: 300px 760px;
  column-gap: 140px;
  padding-top: 55px;
}

/* Filters */

.filter-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.filter-group:not(:last-of-type) {
  margin-bottom: 43px;
}

.filter-group-title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-option {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.option-checkbox {
  margin-bottom: 17px;
}

.filter-option:last-of-type {
  margin-bottom: 0;
}

.filter-input {
  margin: 0;
}

.filter-input:hover {
  opacity: 0.4;
}

.filter-input:active {
  opacity: 0.1;
}

.filter-input:active + label {
  opacity: 0.3;
}

.filter-group-price {
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
  border: none;
}

.filter-price-title {
  margin-bottom: 48px;
}

.filter-option-price {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-extra-dark);
}

.filter-option-price input {
  background-color: var(--basic-extra-light);
  border: none;
}

.filter-button {
  margin-top: 48px;
  width: 260px;
}

/* Sort */

.sort {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.sort-group-title {
  margin-right: auto;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.sort-parameter {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 47px;
  margin-left: 47px;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  list-style: none;
}

.sort-direction {
  display: flex;
  gap: 18px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  list-style: none;
}

.sort-item {
  opacity: 0.3;
}

.sort-item:hover {
  opacity: 0.6;
}

.sort-item:active {
  opacity: 1;
}

.sort-direction-item {
  background-color: var(--icon-cart);
  opacity: 0.2;
}

.sort-direction-item:hover {
  opacity: 0.6;
}

.sort-direction-item:active {
  background-color: var(--icon-active);
  opacity: 1;
}

.sort-active {
  opacity: 1;
}

/* Catalog */

.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: -40px;
  padding: 0;
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 40px;
  margin-bottom: 30px;
  width: 360px;
}

.card-wrapper::before {
  content: "";
  display: block;
  width: 100%;
  height: 40px;
  background: url(../img/card-plank.svg) no-repeat;
  opacity: 0.12;
}

.card-content {
  display: flex;
  flex-direction: column;
  background-color: var(--card-background);
  border: 1px solid var(--card-border);
  border-radius: 0 0 3px 3px;
}

.content-img {
  display: block;
  width: 358px;
  margin: 0 auto;
  border-radius: 0 0 3px 3px;
}

.card-popup {
  text-align: center;
  background-color: var(--basic-extra-light);
}

.cards-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.card:hover .card-wrapper::before {
  opacity: 1;
}

.card:hover .card-content{
  filter: drop-shadow(0px 6px 15px var(--card-shadow-opacity));
}

.card:hover img {
  transform: scale(1.00558659);
}

.cards-link:hover {
  color: var(--button-basic);
}

.cards-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.card-button {
  width: 200px;
}

/* Pagination */

.pagination {
  display: flex;
  gap: 11px;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 54px;
  padding: 0;
  list-style: none;
}

.pagination-button {
  display: block;
  min-width: 50px;
  height: 50px;
  margin: 0;
  padding: 15px 10px 15px;
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--button-grey);
  border-radius: 3px;
  border: none;
  box-sizing: border-box;
}

.pagination-button.current-button {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--basic-white);
  border: 3px solid var(--pagination-border);
}

.pagination-button-next {
  width: 240px;
}


/* Сеточные стили */

.container {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
}

/* Временные стили */

.visually-hidden {
  display: none;
}


