/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-dark: #666666;
  --basic-light: #E1E1E1;
  --basic-extra-light: #EEEEEE;
  --basic-white: #FFFFFF;

  --basic-black-opacity: rgba(0, 0, 0, 0.4);
  --basic-white-opacity: rgba(255, 255, 255, 0.3);

  --special-dark: #444444;

  --button-basic: #FB565A;
  --button-basic-hover: #E74246;
  --button-basic-active: #D7373B;
  --button-green: #00CA74;
  --button-green-hover: #00BC6C;
  --button-green-active: #00AA62;
  --button-yellow: #EFC849;
  --button-yellow-hover: #EAB534;
  --button-yellow-active: #E5A722;
  --button-grey: #EEEEEE;
  --button-grey-hover: #DFDFDF;
  --button-grey-active: #D5D5D5;
  
  --button-shadow-opacity: rgba(0, 1, 1, 0.1);
  --button-grey-active-text: rgba(0, 0, 0, 0.3);

  --icon-basic: #A6A6A6;
  --icon-active: #231F20;
  
  
  --catalog: #4D4D4D;
  --catalog-marker: #ABABAB;

  --card-shadow-opacity: rgba(0, 0, 0, 0.25);

  --pagination: #EEEEEE;
  --pagination-hover: #DFDFDF;
  --pagination-active: #D5D5D5;
  --pagination-border: #DBDBDB;

  --modal-basic: #D7DCDE;
  --modal-hover: #B4B9BB;
  --modal-focus: #000000;
  --modal-invalid: #E74246;
}


/* Global */

.page-body {
  min-width: 1240px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}

h1, h2, h3, h4 , h5, h6 {
  margin: 0;
  padding: 0;
  color: var(-basic-black);
}

.page-main {
  margin: 0;
  padding: 0;
}

.main-title {
  margin: 0;
  padding: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  background-color: var(--basic-extra-light);
}

a {
  font: inherit;
  text-decoration: none;
  color: var(--basic-black);
}

.button {
  margin: 0;
  padding: 0;
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--button-basic);
  border-radius: 3px;
  border: none;
}

.button:hover {
  background-color: var(--button-basic-hover);
}

.button:active {
  color: var(--basic-white-opacity);
  background-color: var(--button-basic-active);
  box-shadow: inset 0px 3px 0px var(--button-shadow-opacity);
}

.button-grey {
  margin: 0;
  padding: 0;
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--button-grey);
  border-radius: 3px;
  border: none;
}

.button-grey:hover {
  background-color: var(--button-grey-hover);
}

.button-grey:active {
  color: var(--button-grey-active-text);
  background-color: var(--button-grey-active);
  box-shadow: inset 0px 3px 0px var(--button-shadow-opacity);
}

img {
  max-width: 100%;
  height: auto;
}

/* Header */
.page-header {
  margin: 0;
  padding: 49px 0 78px 0;
  background-color: var(--basic-extra-light);
}

.index-page .page-header {
  padding-bottom: 0;
}

/* Main navigation */

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-navigation-logo[href]:hover {
  opacity: 0.7;
}

.main-navigation-logo[href]:active {
  opacity: 0.3;
}

.page-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-navigation-item, .user-cart {
  color: var(--basic-black);
}

.page-navigation-item[href]:hover, .user-cart[href]:hover {
  color: var(--button-basic);
}

.page-navigation-item[href]:active, .user-cart[href]:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Main */

.page-main {
  margin: 0;
  padding: 0;
  border: 0px;
}

.main-title {
  padding: 72px 0 108px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  background-color: var(--basic-extra-light);
}

.page main section {
  margin-bottom: 80px;
}

.page main section:last-child {
  margin-bottom: 0;
}

/* Footer */

.main-footer {
  font-size: 16px;
  line-height: 18px;
}

/* Footer map */

.footer-map {
  margin: 0;
  padding: 0;
  min-height: 416px;
  background: url(../img/map.png) no-repeat;
  background-size: cover;
}

/* Footer contacts */

.footer-contacts {
  margin: 0;
  padding: 0;
}

.footer-contacts p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.footer-address {
  font-style: normal;
  color: var(--basic-dark);
}

.phone-number {
  color: var(--basic-dark);
}

/* Footer social */

.footer-social {
  margin: 0;
  padding: 0;
}

.socials-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-discount h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

/* Footer discount */

.footer-discount p {
  font-size: 16px;
  line-height: 22px;
  color: var(--special-dark);
}

/* Modal */

.modal {
  margin: 0 auto 0;
  padding: 63px 100px 84px;
  width: 960px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  background-color:var(--basic-white);
  box-shadow: 0px 20px 40px var(--basic-black-opacity);
}

.modal-title {
  margin: 0;
  padding: 0;
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
}

.appeal-item label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.appeal-field {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--special-dark);
  border: 2px solid var(--modal-basic);
  outline: none;
}

.appeal-field::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--special-dark);
  opacity: 0.5;
}

.appeal-field:hover {
  border: 2px solid var(--modal-hover);
}

.appeal-field:focus, 
.appeal-field:active {
  border: 2px solid var(--modal-focus);
}

.appeal-field:focus::placeholder {
  opacity: 1;
}

.appeal-field:invalid {
  color: var(--modal-invalid);
  border: 2px solid var(--modal-invalid);
}

.modal-close {
  background: url(../img/modal-close.svg) no-repeat;
  opacity: 0.3;
  border: none;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

/* Index */
/* Slider */

.slider {
  background-color: var(--basic-extra-light);
}

.slider-slides {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  margin: 0;
  padding-top: 78px;
  padding-bottom: 80px;
  min-height: 431px;
  box-sizing: border-box;
}

.slide:first-child {
  background: url(../img/slider/smartphones.png) no-repeat;
  background-position: right 0 top 0;
}

.slide:nth-child(2) {
  background: url(../img/slider/monoblocks.png) no-repeat;
  background-position: right 0 top 0;
}

.slide:last-child {
  background: url(../img/slider/mobile-devices.png) no-repeat;
  background-position: right 0 top 0;
}

.slide .lead {
  margin: 0;
  margin-bottom: 25px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(-basic-black);
}

.slide p {
  margin: 0;
  margin-bottom: 27px;
}

/* Services */

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-type {
  width: 300px;
}

.service-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.service-type:first-child .service-title::before {
  content: url(../img/services/laptop.png);
}

.service-type:nth-child(2) .service-title::before{
  content: url(../img/services/smartphones.png);
}

.service-type:last-child .service-title::before{
  content: url(../img/services/presentation.png);
}

/* Service buttons */

.service-button-green {
  background-color: var(--button-green);
}

.service-button-green:hover {
  background-color: var(--button-green-hover);
}

.service-button-green:active {
  background-color: var(--button-green-active);
}

.service-button-yellow {
  background-color: var(--button-yellow);
}

.service-button-yellow:hover {
  background-color: var(--button-yellow-hover);
}

.service-button-yellow:active {
  background-color: var(--button-yellow-active);
}

/* Description */

.description .lead {
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(-basic-black);
}

.description .list-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-extra-dark);
}

.orders-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.description-column-right .list-title::before {
  content: url(../img/nerds-festive.png);
}

.principle-list dt {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(-basic-black);
}

.principle-list .percent {
  font-size: 26px;
  line-height: 40px;
  vertical-align: text-top;
}

.principle-list dd {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
}

/* Clients */

.clients-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.client {
  opacity: 0.2; 
}

.client:hover {
  opacity: 1; 
}

.client:active {
  opacity: 0.1; 
}

/* Catalog-page */
/* Filters */

.filter-group {
  border: none;
}

.filter-group-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-option {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.filter-group-price .filter-option {
  line-height: 22px;
}

.filter-group-price input {
  background-color: var(--basic-extra-light);
  border: none;
}

.filter-input:hover {
  opacity: 0.4;
}

.filter-input:active {
  opacity: 0.1;
}

.filter-input:active + label {
  opacity: 0.3;
}

/* Sort */

.sort-parameter,
.sort-direction {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  list-style: none;
}

.sort-item {
  opacity: 0.3;
}

.sort-item:hover {
  opacity: 0.6;
}

.sort-item:active {
  opacity: 1;
}

.sort-direction-item {
  background-color: var(--icon-cart);
  opacity: 0.2;
}

.sort-direction-item:hover {
  opacity: 1;
}

.sort-direction-item:active {
  background-color: var(--icon-active);
  opacity: 1;
}

/* Catalog */

.cards-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card:hover {
  filter: drop-shadow(0px 6px 15px var(--card-shadow-opacity));
}

.card img::before {
  background: url(../img/card-plank.svg) no-repeat;
  opacity: 0.12;
}

.card:hover img::before {
  opacity: 1;
}

.card-popup {
  text-align: center;
  background-color: var(--basic-extra-light);
}

.cards-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.cards-link:hover {
  color: var(--button-basic);
}

.cards-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Pagination */

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-button {
  width: 50px;
  height: 50px;
  text-align: center;
  box-sizing: border-box;
}

.pagination-button.current-button {
  background-color: var(--basic-white);
  border: 3px solid var(--pagination-border);
}


/* Сеточные стили */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-navigation {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  column-gap: 40px;
  align-items: center;
}

.page-navigation {
  justify-self: center;
}

.user-cart {
  justify-self: right;
}

.slider-slides {
  display: grid;
  grid-template-columns: 1160px 1160px 1160px;
}

.services-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 100px;
}

.description {
  display: grid;
  grid-template-columns: 660px 360px;
  column-gap: 140px;
}

.description-column-right {
  justify-items: center;
  text-align: center;
}

.clients-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  align-items: center;
  justify-items: center;
}

.footer-social {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 40px;
}

.appeal-form {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
}

.appeal-item-text {
  grid-column: span 2;
}
 
/* Стилизация 2 */

.page-navigation {
  display: flex;
  gap: 45px;
}

/* Временные стили */

.visually-hidden {
  display: none;
}

.active-slide {
  order: -1;
}

.slide:not(.active-slide) {
  display: none;
}

.page-main {
  outline: 5px solid rgba(100, 100, 100, 0.7);
  outline-offset: -5px;
}